<!DOCTYPE html>
<html lang="ru">
<head>
    <title><%= title %></title>
    <!-- Подключаем ОБЩИЕ стили, которые нужны ВЕЗДЕ -->
    
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/cart.css">

    
    <!-- Сюда вставятся УНИКАЛЬНЫЕ стили для конкретной страницы -->
    <% if (typeof pageStyles !== 'undefined' && pageStyles && pageStyles.length > 0) { %>
        <% pageStyles.forEach(style => { %>
            <link rel="stylesheet" href="<%= style %>">
        <% }); %>
    <% } %>
</head>
<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
<%- include('_header') %>

    <div class="main-container">
        

        <main class="content">
            <%- body %>
        </main>
    </div>


    <%- include('_modals') %>
    <%- include('_cart') %>
    <%- include('_privacy') %>


    <svg width="0" height="0" style="position: absolute;">
        <defs>
            <filter id="goo" x="-50%" width="200%" y="-50%" height="200%" color-interpolation-filters="sRGB">
                <feGaussianBlur in="SourceGraphic" stdDeviation="3" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" result="cm" />
            </filter>
            <filter id="goo-light" x="-50%" width="200%" y="-50%" height="200%" color-interpolation-filters="sRGB">
                <feGaussianBlur in="SourceGraphic" stdDeviation="1.25" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" result="cm" />
            </filter>
            <filter id="goo-big" x="-50%" width="200%" y="-50%" height="200%" color-interpolation-filters="sRGB">
                <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" result="cm" />
            </filter>
        </defs>
    </svg>



    <!-- Подключаем ОБЩИЕ скрипты -->
    <script src="/js/userAuth.js" defer></script>
    <script src="/js/global-utils.js" defer></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/clickSpark.js" defer></script>
    <script>
        setTimeout(() => {
            try {
                if (typeof ClickSpark !== 'undefined') {
                    new ClickSpark(document.body, {
                        sparkColor: "#4fa690",
                        sparkSize: 10,
                        sparkRadius: 20,
                        sparkCount: 8,
                        duration: 400,
                        easing: "ease-out",
                        extraScale: 1.0,
                    });
                    console.log('ClickSpark initialized with delay.');
                }
            } catch (error) {
                console.error('Error initializing ClickSpark with delay:', error);
            }
        }, 2000);
    </script>
    
    
    <!-- Сюда вставятся УНИКАЛЬНЫЕ скрипты для конкретной страницы -->
    <% if (typeof pageScripts !== 'undefined' && pageScripts && pageScripts.length > 0) { %>
        <% pageScripts.forEach(script => { %>
            <script src="<%= script %>"></script>
        <% }); %>
    <% } %>
</body> 
</html> 
